In [2]:
import pandas as pd

In [3]:
s = pd.Series([12,2,32,4,35,43])

In [4]:
type(s)

pandas.core.series.Series

In [5]:
print(s)

0    12
1     2
2    32
3     4
4    35
5    43
dtype: int64

In [7]:
s2 = pd.Series([12,3,24,3,544,54,23,21],index=["harry","heered","jerry","maert","same","sad","wert","dsx"])

In [8]:
print(s2)

harry      12
heered      3
jerry      24
maert       3
same      544
sad        54
wert       23
dsx        21
dtype: int64

In [9]:
s2["harry"]

np.int64(12)

In [11]:
data = {
    "name" : ["alice", "bob","charlie"],
    "age" : [24,32,34],
    "city": ["delhi","mumbai","Banglore"]
}

In [12]:
data

{'name': ['alice', 'bob', 'charlie'],
 'age': [24, 32, 34],
 'city': ['delhi', 'mumbai', 'Banglore']}

In [14]:
df = pd.DataFrame(data)

In [15]:
df

      name  age      city
0    alice   24     delhi
1      bob   32    mumbai
2  charlie   34  Banglore

In [16]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

AttributeError: 'DataFrame' object has no attribute 'row'